
@model MioSito.Models.ViewModels.ContattiViewModel;
@{
    ViewBag.Title = "Contatti";
}
<h1>@ViewBag.Title</h1>

<div>
    <h2>Nome</h2>
    @Model.Nome
    <h2>Cognome</h2>
    @Model.Cognome
    <h2>Città</h2>
    @Model.Città
    <h2>Indirizzo</h2>
    @Model.Indirizzo
    <h2>Telefono</h2>
    @Model.Telefono
    <h2>Immagine</h2>
    <img src="@Url.Content(@Model.Immagine)" height="150">


</div>


