
@model MioSito.Models.Services.Application.ContattiService;

@{
    ViewBag.Title = "Contatti";
}
<h1>@ViewBag.Title</h1>

<div>
    <h2>Nome</h2>
    @Model.GetContatto().Nome
    <h2>Cognome</h2>
    @Model.GetContatto().Cognome
    <h2>Città</h2>
    @Model.GetContatto().Città
    <h2>Indirizzo</h2>
    @Model.GetContatto().Indirizzo
    <h2>Telefono</h2>
    @Model.GetContatto().Telefono
    <h2>Immagine</h2>
    <img src="@Url.Content(@Model.GetContatto().Immagine)" height="150">


</div>


